<!--
  os botões exibidos na coluna de ações são escolhidos
  no componente em que a tabela será exibida
-->
<div>
  <button mat-mini-fab color="primary" title="Visualizar" aria-label="Botão Visualizar Detalhes" *ngIf="showRetrieve" (click)="emitCrudAction(crudAction.Retrieve, object)">
    <mat-icon>visibility</mat-icon>
  </button>

  <button mat-mini-fab color="primary" title="Editar" aria-label="Botão Editar" *ngIf="showUpdate" (click)="emitCrudAction(crudAction.Update, object)">
    <mat-icon>edit</mat-icon>
  </button>

  <button mat-mini-fab color="primary" title="Excluir" aria-label="Botão Excluir" *ngIf="showDelete" (click)="emitCrudAction(crudAction.Delete, object)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
