.tr-details:hover .td-details {
  cursor: pointer;
  color: #767676;
}

.td-no-details {
  cursor: default;
}

div.row {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

p {
  text-transform: capitalize;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: black;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .mat-mdc-table {
    border: 0;
    vertical-align: middle
  }

  .mat-mdc-table caption {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
  }

  /*  esconder o header */
  .mat-mdc-header-row {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr.mat-mdc-row {
    height: auto !important;
  }

  td.mat-mdc-cell {
    border-bottom-style: none ;
  }

  .mat-mdc-table .mat-mdc-row {
    border-bottom: 5px solid #ddd;
  }

  .mat-mdc-table .mat-mdc-cell {
    display: block;
    font-size: 1rem;
    text-align: right;
    height: 2rem;
    margin-bottom: 1%;
  }

  /* exibe os nomes das colunas ao lado dos valores */
  .mat-mdc-table .mat-mdc-cell:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 120%;
    color: black;
    margin-bottom: 0;
  }

  .mat-mdc-table .mat-mdc-cell:last-child {
    border-bottom: 0;
  }

  .mat-mdc-table .mat-mdc-cell:first-child {
    margin-top: 2%;
  }

  th.mat-mdc-header-cell:first-of-type,
  td.mat-mdc-cell:first-of-type,
  th.mat-mdc-header-cell:last-of-type,
  td.mat-mdc-cell:last-of-type {
    /* padding-left: 0px !important; */
    padding-right: 0 !important;
  }
}
